In [20]:
import pandas as pd
import pandas_profiling
import numpy as np

path = '/Users/Kevin/Desktop/DataKind/womens-health-project/data/current/DWWC Bookings CURRENT.csv'

In [21]:
%%bash
file -I "/Users/Kevin/Desktop/DataKind/womens-health-project/data/current/DWWC Bookings CURRENT.csv"

/Users/Kevin/Desktop/DataKind/womens-health-project/data/current/DWWC Bookings CURRENT.csv: text/plain; charset=us-ascii

In [22]:
df=pd.read_csv(path, encoding='ascii')
df.head()

,Unnamed: 0,ID,date_submitted,date_of_birth,preferred_contact,preferred_contact_e-mail,preferred_contact_phone,preferred_contact_text,return_patient,choose_clinic,service_required,smear_test_calc_flag,preferred_appt_date,preferred_time_of_day,preferred_time_morning,preferred_time_afternoon,preferred_time_evening
0,0,4420,2017-02-03,1995-01-04 00:00:00,phone,0,1,0,No,Coolock,Mirena / Jaydess Consultation,NaN,2017-02-09,Evening,0,0,1
1,1,4419,2017-02-03,1992-03-26 00:00:00,e-mail,1,0,0,No,Liffey Street,General Counselling,NaN,2017-02-11,"Morning,Afternoon,Evening",1,1,1
2,2,4418,2017-02-03,1987-01-09 00:00:00,e-mail,1,0,0,No,Liffey Street,Pregnancy Testing,NaN,2017-02-07,Afternoon,0,1,0
3,3,4417,2017-02-03,NaN,phone,0,1,0,Yes,Pembroke Road,Cervical Smear Test,unchecked,2017-02-06,Afternoon,0,1,0
4,4,4416,2017-02-03,1994-12-01 00:00:00,"phone,e-mail",1,1,0,No,Liffey Street,Contraception services,NaN,2017-02-03,"Morning,Afternoon,Evening",1,1,1

In [23]:
df.dtypes

Unnamed: 0                   int64
ID                           int64
date_submitted              object
date_of_birth               object
preferred_contact           object
preferred_contact_e-mail     int64
preferred_contact_phone      int64
preferred_contact_text       int64
return_patient              object
choose_clinic               object
service_required            object
smear_test_calc_flag        object
preferred_appt_date         object
preferred_time_of_day       object
preferred_time_morning       int64
preferred_time_afternoon     int64
preferred_time_evening       int64
dtype: object

In [88]:
# convert objects to pandas datetime data types
df['date_submitted'] =  pd.to_datetime(df['date_submitted'], format='%Y-%m-%d')

# convert objects to pandas datetime data types, and handle null values using coerce
df['date_of_birth'] =  pd.to_datetime(df['date_of_birth'], format='%Y-%m-%d',errors='coerce')

In [26]:
df.dtypes

Unnamed: 0                           int64
ID                                   int64
date_submitted              datetime64[ns]
date_of_birth               datetime64[ns]
preferred_contact                   object
preferred_contact_e-mail             int64
preferred_contact_phone              int64
preferred_contact_text               int64
return_patient                      object
choose_clinic                       object
service_required                    object
smear_test_calc_flag                object
preferred_appt_date                 object
preferred_time_of_day               object
preferred_time_morning               int64
preferred_time_afternoon             int64
preferred_time_evening               int64
dtype: object

In [82]:
df['age'] = ((df['date_submitted'] - df['date_of_birth']).astype('timedelta64[D]')/365.25)

In [83]:
# because of nulls the pandas int format causes an issue, there may be a better work around but this seemed to work
# fine for dispaly purposes although valeus are still stored as floats 
pd.options.display.float_format = '{:,.0f}'.format

In [84]:
df.dtypes

Unnamed: 0                           int64
ID                                   int64
date_submitted              datetime64[ns]
date_of_birth               datetime64[ns]
preferred_contact                   object
preferred_contact_e-mail             int64
preferred_contact_phone              int64
preferred_contact_text               int64
return_patient                      object
choose_clinic                       object
service_required                    object
smear_test_calc_flag                object
preferred_appt_date                 object
preferred_time_of_day               object
preferred_time_morning               int64
preferred_time_afternoon             int64
preferred_time_evening               int64
age                                float64
dtype: object

In [85]:
df.head()

,Unnamed: 0,ID,date_submitted,date_of_birth,preferred_contact,preferred_contact_e-mail,preferred_contact_phone,preferred_contact_text,return_patient,choose_clinic,service_required,smear_test_calc_flag,preferred_appt_date,preferred_time_of_day,preferred_time_morning,preferred_time_afternoon,preferred_time_evening,age
0,0,4420,2017-02-03,1995-01-04,phone,0,1,0,No,Coolock,Mirena / Jaydess Consultation,NaN,2017-02-09,Evening,0,0,1,22
1,1,4419,2017-02-03,1992-03-26,e-mail,1,0,0,No,Liffey Street,General Counselling,NaN,2017-02-11,"Morning,Afternoon,Evening",1,1,1,25
2,2,4418,2017-02-03,1987-01-09,e-mail,1,0,0,No,Liffey Street,Pregnancy Testing,NaN,2017-02-07,Afternoon,0,1,0,30
3,3,4417,2017-02-03,NaT,phone,0,1,0,Yes,Pembroke Road,Cervical Smear Test,unchecked,2017-02-06,Afternoon,0,1,0,nan
4,4,4416,2017-02-03,1994-12-01,"phone,e-mail",1,1,0,No,Liffey Street,Contraception services,NaN,2017-02-03,"Morning,Afternoon,Evening",1,1,1,22

In [87]:
# write file 
df.to_csv('/Users/Kevin/Desktop/DataKind/womens-health-project/data/current/DWWC Bookings-2017-03-07-Add-Age.csv', sep=',')